$grey1: #efefef;
$grey2: #333333;
$grey3: #cccccc;
$grey4: #4d4d4d;
$grey5: #ececec;
$grey6: #d9d9d9;
$grey7: #f2f2f2;
$grey8: #c1c1c1;
$grey9: #76868f;
$white2: #e7eef2;
$font1: #808080;
$bgc1: #999999;
$blue1: #2e8ff3;
$blue3: #91c7ff;
$blue2: #0050a2;
$blue4: #036bc2;
$blue5: #005dab;
$blue6: #2b6bae;
$blue7: #DBEDFF;
$grey9: #ced4d8;
$white1: #f2f2f2;
$green1: #0cffff;
$green2: #369b9f;
$green3: #5ca4a7;
$green4: #00a73d;
$green5: #326344;
$green6: #07FF62;
$red1: #ff0e0e;
$red2: #7c1a26;
$orange: #fe8930;
$orange2: #FFA25B;
$orange3: #7a3e02;
$yellow: #FFE11E;
$purple: #736eff;
$purple2: #9490ff;

$informationScannerImgBGC: linear-gradient(
                0deg,
                rgba(255, 255, 255, 1) 70%,
                rgb(170, 170, 170) 100%
);
