@import "_color.scss";
// grid
%flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-row-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

%flex-row-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

%flex-row-start-al-end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

%flex-row-start-al-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

%flex-row-between-al-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

%flex-row-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

%flex-column-al-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

%flex-column-al-center-ju-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

%flex-column-al-center-ju-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

%flex-column-al-start-ju-end {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-end;
}

%flex-column-al-end-ju-center {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

%flex-column-al-center-ju-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

%flex-row-between-al-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

%flex-column-al-center-ju-around {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

%flex-column-al-start-ju-between {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

%flex-column-al-start-ju-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

%flex-column-al-start-ju-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

%flex-column-al-center-ju-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

%flex-column-al-center-ju-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

//消除margin padding
%no-m-p {
  margin: 0;
  padding: 0;
}

%box-shadow {
  box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.3);
}

//辣霸
%scroll {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 4px;
    &:active {
      background-color: #999999;
    }
    &:hover {
      background: #808080;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }
  }
  &::-webkit-scrollbar-track {
    background: #d3d3d3;
    border-radius: 4px;
    &:hover {
      background: #b3b3b3;
    }
  }
  &::-webkit-scrollbar:horizontal {
    height: 10px;
  }
}

%scroll-1 {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 4px;
    &:active {
      background-color: #999999;
    }
    &:hover {
      background: #b3b3b3;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }
  }
  &::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 4px;
    &:hover {
      background: #ffffff;
    }
  }
  &::-webkit-scrollbar:horizontal {
    height: 6px;
  }
}

//不能反白!
%not-show-txt-arrow {
  user-select: none;
}

//消除default
%delete-default {
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari 和 Chrome */
}

@mixin btn($color, $color2) {
  //padding-bottom: 3px;
  width: 130px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid $color;
  font-size: 16px;
  color: $color;
  @extend %flex-row-center;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 300;
  cursor: pointer;
  transition-duration: 0.3s;
  &:hover {
    color: $color2;
    border-color: $color2;
    background-color: $color;
  }
}

// tips
%tip-box {
  position: fixed;
  display: block;
  padding: 10px;
  min-width: 45px;
  background-color: $blue1;
  border-radius: 0 8px 8px 8px;
  color: white;
  top: 0;
  left: 0;
  font-size: 12px;
  z-index: 2100;
  @extend %flex-column-al-start-ju-start;
  span {
    font-size: 12px;
    color: white;
    @extend %flex-row-start;
    span {
      font-size: 12px;
      color: white;
    }
  }
  &::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    left: 1px;
    transform: translateX(-10%);
    top: -6px;
    border-top: 0px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $blue1;
    border-left: 8px solid transparent;
  }
}

// table
// table

%select {
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  padding: 3px;
  width: 60%;
  height: 30x;
  cursor: pointer;
  color: $font1;
  border: 0;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  margin-left: 8px;
  option {
    color: $font1;
    font-weight: 500;
  }
}

@mixin inputs($width) {
  padding-left: 5px;
  border-radius: 3px;
  font-size: 15px;
  line-height: normal;
  font-weight: 400;
  // border: none;
  margin-top: 3px;
  color: $grey2;
  width: $width;
  height: 25px;
  margin-left: 8px;
  margin-right: 8px;
  box-shadow: none;
  border: none;
  &:focus {
    outline: none !important;
    // border: 1px solid $btnHoverExitColor;
    box-shadow: 0 0 10px #719ece;
  }
}

%main-table {
  border: 0.5px solid $grey3;
  margin-bottom: 10px;
  tbody {
    tr {
      // cursor: pointer;
      transition-duration: 0.2s;
      height: 35px;
      td {
        // content的設定位置
        border: 0.5px solid $grey3;
        color: $font1;
        font-size: 16px;
        padding: 0;
        height: 35px;
        position: relative;
        select {
          font-size: 15px;
          font-weight: 400;
          line-height: normal;
          padding: 3px;
          width: 100%;
          height: 35px;
          cursor: pointer;
          color: $font1;
          padding: 0;
          border: 0;
          background-color: rgba(0, 0, 0, 0);
          option {
            color: $font1;
            font-weight: 500;
          }
        }
        .select_usd {
          width: 50%;
          margin-right: 15px;
        }
        .select_usd_input {
          padding-left: 5px;
          border-radius: 3px;
          font-size: 15px;
          line-height: normal;
          font-weight: 300;
          // border: none;
          margin-top: 3px;
          margin-left: 3px;
          color: $font1;
          width: 50px;
          &:focus {
            outline: none !important;
            // border: 1px solid $btnHoverExitColor;
            box-shadow: 0 0 10px #719ece;
          }
        }
        .user-defined-btn {
          position: absolute;
          display: block;
          width: 70px;
          height: 25px;
          cursor: pointer;
          color: $blue1;
          border: 1px solid $blue1;
          border-radius: 3px;
          font-size: 14px;
          text-align: center;
          top: 50%;
          right: 20%;
          transform: translateY(-50%);
          transition-duration: 0.2s;
          padding-top: 0.7%;
          &:hover {
            background-color: $blue1;
            color: white;
            border-color: white;
          }
        }
        .user-defined-btn-none {
          display: none;
        }
        input {
          padding-left: 5px;
          border-radius: 3px;
          font-size: 15px;
          line-height: normal;
          font-weight: 400;
          // border: none;
          margin-top: 3px;
          margin-left: 3px;
          color: $font1;
          width: 50px;
          &:focus {
            outline: none !important;
            // border: 1px solid $btnHoverExitColor;
            box-shadow: 0 0 10px #719ece;
          }
        }
        span {
          color: $font1;
          font-size: 15px;
          line-height: normal;
          font-weight: 400;
        }
      }
      .td-content {
        width: 45%;
        padding-left: 15px;
        padding-right: 10px;
        vertical-align: middle;
        input {
          width: 80px;
        }
      }
      .td-span {
        width: 45%;
        padding-top: 6px;
        padding-left: 6px;
        span {
          color: $font1;
          font-size: 15px;
          line-height: normal;
          font-weight: 400;
        }
        img {
          width: 11px;
          margin-right: 5px;
          opacity: 0;
        }
      }
      .td-span-show {
        img {
          opacity: 1;
        }
      }
      &:nth-child(even) {
        background: $white2;
        input {
          border: 1px solid $grey6;
          background-color: #fff;
          margin-right: 10px;
        }
      }
      &:nth-child(odd) {
        background: #fff;
        input {
          border: 1px solid $grey6;
          background-color: #fff;
          margin-right: 10px;
        }
      }
    }
  }
}

//shadow
%shadow {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1900;
}

%frame-top {
  width: 100%;
  height: 120px;
  background-color: $grey1;
  padding-top: 40px;
  padding-left: 40px;
  @extend %flex-column-al-start-ju-start;
  .main-page-title-zone {
    @extend %flex-row-start;
    margin-bottom: 15px;
    .large-title {
      font-size: 17px;
      color: $blue3;
      margin-right: 15px;
      font-weight: 500;
      line-height: normal;
    }
    .large-circle {
      width: 5px;
      margin-right: 15px;
      color: $blue3;
      font-size: 5px;
    }
    .second-title {
      color: $blue4;
      font-size: 17px;
      font-weight: 500;
      line-height: normal;
    }
  }
}

%frame-main {
  width: 100%;
  height: calc(100% - 120px);
  padding: 25px 40px 30px 40px;
}

%main-child-router-zone {
  @extend %flex-row-start;
  width: 100%;
  height: 50px;
  .main-book-mark {
    @extend %flex-row-start;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    span {
      font-size: 17px;
      color: $grey4;
      font-weight: 400;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    img {
      width: 10px;
      margin-bottom: 10px;
    }
    .bottom-line {
      position: absolute;
      display: none;
    }
  }
  .choose-bk {
    span {
      color: $blue4;
    }
    .bottom-line {
      display: block;
      background-color: $blue4;
      bottom: -5px;
      height: 5px;
      width: calc(100% - 20px);
      border-radius: 5px;
    }
  }
}

%pop-window {
  width: 1000px;
  height: 720px;
  box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 4000;
  position: fixed;
  left: 50%;
  top: 50%;
  color: $font1;
  transform: translate(-50%, -50%);
  max-width: 100%;
}
%pop-top-bottom {
  width: 100%;
  height: 90px;
  background-color: $grey1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 35px;
  span {
    font-size: 21px;
    color: $grey2;
  }
}
%pop-top {
  padding: 27px 40px 0px;
  background-color: $grey1;
  width: 100%;
  height: 90px;
  border-radius: 5px 5px 0 0;
  .left-title {
    @extend %flex-column-al-start-ju-start;
    margin-bottom: 15px;
    h3.content-title {
      font-size: 21px;
      color: $grey2;
      margin-bottom: 4px;
    }
    span {
      font-size: 12px;
      color: $font1;
    }
  }
  img {
    width: 18px;
    cursor: pointer;
  }
}
%pop-bottom {
  height: 70px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}
%pop-bottom-btn {
  width: 105px;
  height: 30px;
  border: 1px solid $font1;
  color: $font1;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.2s;
  &:hover {
    border: none;
    color: white;
    background-color: $font1;
  }
}
%pop-main {
  background-color: #fff;
  width: 100%;
  height: 720px - 90px - 70px;
  @extend %flex-column-al-start-ju-start;
  padding: 20px 40px;
  overflow: auto;
  @extend %scroll-1;
}
